<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">

      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">NEPATOGIOS PRAMOGOS</a>
      </div>

      <li class="nav-item">
        <a routerLink="list-joy" class="nav-link" class="btn btn-dark active" role="button">Joys list</a>
      </li>&nbsp;
      <li class="nav-item">
        <a routerLink="add-joy" class="nav-link" class="btn btn-dark active" role="button">Add Joy</a>
      </li>&nbsp;
      <li class="nav-item">
        <a routerLink="items" class="nav-link" class="btn btn-dark active" role="button">Items</a>
      </li>&nbsp;
    </ul>
  </nav>
</div>